body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#fb8bd2;
    margin: 0;
    padding: 0;
}

.blog-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #f4eeee;
    margin-bottom: 40px;
}

.blog-post {
    background-color: #78124b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-bottom: 10px;
    color: #eee6e6;
}

.blog-post p {
    color: #e8dbdb;
    line-height: 1.6;
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #d4e3f3;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #78124b;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #333;
}
